:root {
    --blue: #293949;
    --red: #e74c3c;
    --yellow: rgb(235, 183, 70);
    --orange: rgb(248, 133, 9);
    --teal: #48adf0;
  }
  
  body {
    background-color: var(--blue);
    font-family: 'Raleway', sans-serif;
    color: var(--teal);
  }

  .container {    
    max-width: 1400px;
    margin: 0 auto;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
    min-width: 450px;
    max-height: 1000px;
    min-height: 300px;
  }

  .week-title {
    font-size: 4em;
    text-align: center;
    color: white;
    margin: 5px 0px 0px 20px;
    padding-top: 0px;
  }

  .col {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 40%;
    height: 100%;
  }

  .card {
    border-top: 5px solid var(--teal);
    border-radius: 3px;
    background-color: white;
    margin-bottom: 20px;
    overflow: hidden;
    min-height: 160px;
    max-height: 300px;
  }

  #color-test {
    border-top: 5px solid var(--red);
  }

  .card-title {
      font-size: 2em;
      padding: 0px 40px 20px 40px;
  }

  .card-text {
      font-size: 1.8rem;
      padding: 0px 10px 30px 10px
  }